<%= stylesheet_link_tag 'perfumes', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="main-container">
    <h1>おすすめ診断</h1>
    <%= link_to "診断を始める", new_perfume_path, class: "link" %>
</div>