body{
  background-image: url(mypage2.jpg);
  background-size: 50%;
}

.main-container h1 {
  position: 200px;
  text-align: center;
  margin: 100px;
  padding: 50px;
  font-size: 50px;
  color: white
}

.flexbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    align-items:center;
  }
  
  .flex-item {
    background: rgba(128, 128, 128, 0.8);
    border: 1px solid #000;
    width: 800px;
    text-align: center;
  }