body{
    background-image: url(genre.jpg);
    background-size: 200%
}

.main-container h1 {
    position: 200px;
    text-align: center;
    margin: 100px;
    padding: 50px;
    font-size: 50px;
    color: white
  }